@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
  font-size: calc(0.9rem + 0.4vmax);
  scroll-behavior: smooth;
}

header{
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.logo{
  align-self: center;
  width: 150px;
  padding: 1em 0;
}
header nav{
  flex-grow: 1;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.portfolio{
  max-width: 70%;
}
h1{
  letter-spacing: 2vw;
}

@media (max-width: 650px){
  header nav{
      flex-flow: column;
  }
  header{
    flex-flow: column;
  }
  .redes .red{
    font-size: 1.2em;
    align-items: center;
  }
}

body{
  --color-normal: rgb(0, 0, 0);
  --color-contraste: rgb(255, 255, 255);
  --color-contraste-dark: rgb(190, 190, 190);
  --color-contraste-darker: rgb(120, 120, 120);
  --color-enfasis: rgb(242, 67, 51);
  --transicion-normal: 0.3s;
  margin: 0;
  font-family: "Inconsolata";
  background-color: var(--color-normal);
  color: var(--color-contraste);
  scroll-behavior: smooth;
  background-image: url("res/img/background.jpeg");
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: multiply;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
}

a{
  text-decoration: none;
  display: inline-block;
  color: var(--color-contraste);
}
h1{
  color: var(--color-contraste);
  text-align: center;
  text-transform: uppercase;
  color: rgb(180, 180, 180);
  font-size: 2em;
}
header nav{
  display: flex;
  text-align: center;
}
header nav a{
  padding: 1em 1.5em;
}
header nav a, div.red, footer a, #volver-arriba{
  transition: background-color, color;
  transition-duration: var(--transicion-normal);
}
header nav a:hover, div.red:hover, footer a:hover{
  color: var(--color-normal);
  background-color: var(--color-contraste);
}
header nav a:active{
  background-color: var(--color-contraste-dark);
}
main{
  width: 80%;
  margin: auto;
}
footer{
  color:rgb(180, 180, 180);
  text-align: center;
  padding-bottom: 1em;
  margin-top: 5em;
}
footer i{
  color: var(--color-enfasis);
}

#volver-arriba{
  background-color: var(--color-contraste);
  color: var(--color-normal);
  text-decoration: none;
  font-size: 1.5em;
  padding: 0.22em 0.32em;
  display: inline-block;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  font-weight: 900;
  z-index: 2;
}
#volver-arriba i{
  color: inherit;
}
#volver-arriba:hover{
  background-color: var(--color-contraste-dark);
}
#volver-arriba:active{
  background-color: var(--color-contraste-darker);
}

.grilla{
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  margin: auto;
}

.grilla.portafolio{
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: dense;
}
.portafolio > figure{
  margin: 0;
  display: flex;
  flex-flow: column;
}
.portafolio img{
  flex-grow: 1;
  max-width: 100%;
  object-fit: cover;
  transition-property: transform, box-shadow;
  transition-duration: var(--transicion-normal);
}
.portafolio figcaption{
  padding: 0.3em 0.8em;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-align: right;
}
.portafolio .destacado{
  grid-row: span 2;
  grid-column: span 2;
}
.portafolio img:hover{
  transform: scale(1.1);
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.grilla.musica{
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.cancion{
  display: flex;
  flex-flow: column;
}
.cancion img{
  height: auto;
  width: 100%;
  transition-duration: var(--transicion-normal);
  transition-property: fitler;
  -moz-transition-property: filter;
  object-fit:cover;
}
.cancion:hover img{
  filter: brightness(60%);
}
.cancion .caratula{
  position: relative;
  display: flex;
  height: 100%;
}
.cancion .caratula h2{
  position: absolute;
  margin: 0;
  padding: 0.5em 0.25em;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
  box-sizing:border-box;
  box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.75);
}
.cancion .caratula .boton-juegame{
  position: absolute;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  bottom: 40px;
  z-index: 1;
}
.cancion .boton-juegame > *{
  padding: 0.75em 1em;
  background: var(--color-enfasis);
  border-radius: 999px;
  outline: none;
  text-decoration: none;
  transition-duration: var(--transicion-normal);
  transition-property: box-shadow;
  cursor: pointer;
}
.cancion .boton-juegame > *:hover{
  box-shadow: 0 0 10em inset rgba(0, 0, 0, 0.2);
}
.cancion .boton-juegame > *:active{
  box-shadow: 0 0 10em inset rgba(0, 0, 0, 0.5);
}

.grilla.audiovisual{
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3em;
}
.video{
  text-align: justify;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.video iframe{
  max-width: 600px;
  height: 350px;
  width: 100%;
}

.redes{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.redes h1{
  flex-basis: 100%;
  margin-bottom: 1em;
}
div.red{
  display: flex;
  flex-flow: row nowrap;
  line-height: 0.8;
}
.red{
  height: 50px;
  width: auto;
  font-size: 1.5em;
  text-decoration: none;
  padding: 0.25em 0.5em;
  outline: none;
  margin: 0.5em 0.25em;
}
.red span{
  margin-left:0.15em;
}
